

.container div.container-box-menu {
    background-color: #5B4695;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 80px;
    top: 200px;
    height: 500px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: -13px 0 0 0 #3d3d3d;
}

.container div.container-box-menu a {
    background-color: #FFF;
    color: inherit;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    font-weight: bold;
    align-items: center;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin: 15px;
    box-shadow: -7px 0 #c4c4c4;
}

/*
    Form style
*/

.container section {
    background-color: #A1A1A1;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    right: 80px;
    top: 200px;
    padding: 20px;
    width: 700px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 20px 0 #3d3d3d;
}

.container section h1 {
    font-family: 'Press Start 2P', cursive;
    margin-bottom: 70px;
    
}

.container section form {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    margin-bottom: 70px;
}   

.container section form input {
    width: 300px;
    height: 35px;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 10px;
}

.container section form button {
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    top: 390px;
    right: 190px;
    width: 300px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 7px #c4c4c4;
}

.container section form button:hover {
    background-color: #FFF;
}

.container section form button:active {
    box-shadow: 0 0 #c4c4c4;
    transform: translateY(7px);
    transition: 0.2s;
}