/*
    Left box and buttons style.
*/

.container-box-left {
    background-color: #847E7E;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 80px;
    top: 200px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: -13px 0 0 0 #3d3d3d, -10px 0 0 0 #3d3d3d;
}

.container-box-left button{
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    border: none;
    margin: 10px;
    border-radius: 5px;
    box-shadow: -5px 0 0 0 #B6B3B3;
}

.container-box-left button:hover{
    background-color: #E8E8E8;  
}

.container-box-left button:active{
    box-shadow: 0 0 0 0 #3d3d3d;
    transform: translateX(-5px);
    transition: 0.15s;
}

/*
    Right-box style.  ||
                      \/   
*/

.container-box-right {
    background-color: #847E7E;
    display: flex;
    position: absolute;
    right: 80px;
    top: 200px;
    padding: 20px;
    width: 700px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 20px 0 #3d3d3d;
}
