

.container div.main-board {
    background-color: #5B4695;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 1120px;
    height: 631px;
    border-radius: 10px;
    position: absolute;
    top: 270px;
}

.container div.small-board {
    background-color: #C1C354;
    font-family: 'Press Start 2P', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 180px;
    width: 277px;
    height: 90px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.container div.main-board label {
    font-family: 'Press Start 2P', cursive;
    font-size: 45px;
    position: absolute;
    top: 60px;
    animation-name: pulse;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes pulse {
    0% {color: #000000;}
    50% {color: aqua;}
    100% {color: #000000;}
}
/*
.container div.main-board button.start {
    font-family: 'Press Start 2P', cursive;
    padding: 8px 20px;
    top: -230px;
    border: 0;
    box-shadow: 0 6px #c4c4c4;
    border-radius: 10px;
}
*/
.container div.main-board button.start:hover {
    background-color: #E8E8E8;
    transition: 0.2s;
}

.container div.main-board button.start:active {
    box-shadow: 0 1px #c4c4c4;
    color: #E8E8E8;
    transform: translateY(5px);
}

/*
Right-side selector styles ---------------
*/

.container div.right-board {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #847E7E;
    position: absolute;
    top: 180px;
    right: 20px;
    width: 250px;
    height: 80px;
    border-radius: 10px;
    box-shadow: 2px 2px #646363, 3px 3px #646363, 6px 6px #646363, 8px 8px #646363, 10px 10px #646363;
    z-index: 1;
}

.container div.right-board label {
    font-family: 'Press Start 2P', cursive;
    position: relative;
}

.container div.input-background-right {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #261B44;
    width: 290px;
    height: 100px;
    top: 300px;
    right: 20px;
    border-radius: 10px;
}

.container div.input-background-right .select-right {
    border: none;
    width: 250px;
    border-bottom-left-radius: 10px;
}

/*
Left-side selector styles -------------
*/

.container div.left-board {
    align-items: center;
    justify-content: center;
    background-color: #847E7E;
    display: flex;
    position: absolute;
    top: 180px;
    left: 20px;
    width: 250px;
    height: 80px;
    border-radius: 10px;
    box-shadow: -3px 3px #646363, -6px 6px #646363, -8px 8px #646363, -10px 10px #646363;
    z-index: 1;
}

.container div.left-board label {
    font-family: 'Press Start 2P', cursive;
    position: absolute;
}

.container div.input-background-left {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #261B44;
    width: 290px;
    height: 100px;
    top: 300px;
    left: 20px;
    border-radius: 10px;
}

.container div.input-background-left .select-left {
    border: none;
    width: 250px;
    
}

/*
    Table style.
*/

.container table {
    background-color: #4D3E62;
    table-layout: fixed;
    text-align: center;
    justify-content: center;
    border-collapse: collapse;
    width: 60%;
    border-radius: 10px;
}

.container tr td{
    color: #FFF;
    padding: 8px;
    animation-name: fade;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: 1;
}

@keyframes fade {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.container tr:hover {
    background-color: #5B4695;
    transition: 0.2s;
}

.container tr {
    border-bottom: 1px solid #ddd;
}

.container table.table tr.last-tr {
    border: none;
}
