@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
    margin:0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font: 400 14px Roboto, sans-serif;
    background: #c4c4c4;
    -webkit-font-smoothing: antialiased;
}

button {
    cursor: pointer;
}

.container {
    background-color: #c1c9dd;
    max-width: 1120px;
    min-width: 1120px;
    height: 150vh;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}